{% extends 'main/base.html' %}

{% block content %}

<!-- login area start -->
<div class="login-register-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class="active" data-bs-toggle="tab" href="#lg1">
                                    <h4 class="text-center mb-4">Reset Your Password</h4>
                                </a>
<!--                                <a data-bs-toggle="tab" href="#lg2">-->
<!--                                    <h4>register</h4>-->
<!--                                </a>-->
                            </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <!-- Login Form -->
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <p class="text-center fs-14 pera  text-center px-md-2"> Enter the email address associated with your
                                            account and we will send you a link to reset your password.
                                            </p>
                                            <form action=" " method="post">
                                                {% csrf_token %} {{ form.non_field_errors }}
                                                {% if messages %}
                                                {% for message in messages %}
                                                <div class="alert alert-info">
                                                  {{ message }}
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                <input type="email" name="username" placeholder="Email" />
                                                <div class="button-box">
                                                    <button type="submit"><span>Continue</span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- login area end -->

{% endblock %}
